.main-p {
    color:#ff1717;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* font-weight: 900; */
    font-weight: 100;
    font-style: italic;
    text-align: left;
    text-decoration: line-through;
    text-transform: none;
    /* line-height: 50px; */
    line-height: 78px;
    /* word-spacing: 50px; */
    /* float: left; */
    z-index: 100;
}

.test-div {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    /* margin-top: 200px;
    margin-left: 200px; */
    /* margin: 200px 0 0 300px; */
    /* padding: 200px 0 0 200px; */
    /* float: left; */
    z-index: 1000;
    border: blue solid 10px;
    cursor: pointer;
    /* display: block; */
    /* display: none; */
    /* display: hidden; */
}

.test2-div {
    width: 100px;
    height: 100px;
    background-color: rgb(201, 207, 166);
    /* margin-top: 200px;
    margin-left: 200px; */
    /* margin: 200px 0 0 300px; */
    /* padding: 200px 0 0 200px; */
    /* float: left; */
}